

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Questrial:400);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.cdnfonts.com/css/dm-sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Hebrew:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.cdnfonts.com/css/noto-sans-hebrew);




	body{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}

		h1, h2, h3, h4, h5, h6{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}

	/* 
	.h1{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}

	.h2{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}Headlines */



	.garamond { font-family: garamond, serif; }
	.noto-sans-hebrew { font-family: 'Noto Sans Hebrew', 'Arial', serif; }
	.avenir { font-family: 'avenir next', avenir, sans-serif; }
	.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
	.bodoni { font-family: "Bodoni MT", serif; }
	.pb8 { padding-bottom: 24rem; }
	.pb8-l { padding-bottom: 24rem; }
	.pb8-m { padding-bottom: 24rem; }
	.pb8-ns { padding-bottom: 24rem; }
	.pl9 { padding-left: 6rem; }
	.pl9-l { padding-left: 6rem; }
	.pl9-m { padding-left: 6rem; }
	.pl9-ns { padding-left: 6rem; }

	/* index nax area */
	div.b { height: 200px;}
	div.b2 { height: 100px;}
	div.b3 { height: 80px;}

	/* italic/different font upon hover */
	a.ex4:hover, a.ex4:active {font-family: monospace;}
	a.ex5:hover, a.ex5:active {text-decoration: underline;}
	a.ex6:hover, a.ex6:active {font-style: italic;}

	/* different text upon hover */
	.label:after{
    content:'Hadass Sternberg';
	}
	.label:hover:after{
    content:'  <sup>Communication designer</sup>';
	}

	a {
		outline: 0;
		outline: none;
	}

	.navbar {
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  max-width: 100%
	}

	.nav-main {
	  padding-top: 4rem;
	  margin-top: 4rem;
	}

	.icon {
	  width: 20px;
		padding-bottom: 3px;
	}

	.emoji {
		width: 34px;
		  padding-bottom: 8px;
	  }

	.tracked-tighter {
		letter-spacing: -.03em;
	}

	.lh-text { line-height: 1.35; }
	.lh-text-l { line-height: 1.35; }
	.lh-text-m { line-height: 1.35; }
	.lh-text-ns { line-height: 1.35; }

	/* enlarge font upon hover */
	@keyframes ldio-lt6rgcsawgm {
		0% { transform: translate(-50%,-50%) rotate(0deg); }
		100% { transform: translate(-50%,-50%) rotate(360deg); }
			}

	.spinner {
		width: 40px;
		height: 40px;
		background-color: #333;

		position: absolute;
		top: 48%;
		left: 48%;
		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}

	@-webkit-keyframes sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}

	@keyframes sk-rotateplane {
		0% {
			 transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			 -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
			  } 100% {
			    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			  }
			}
	
	.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	z-index: 999999;
	}




	.blur { 
	backdrop-filter: blur(5px);
	}


	/* colors */


	.brown { color: #964B00; }
	.bg-brown { background-color: #964B00; }
	.hover-bg-brown:hover { background-color: #964B00; }
	.hover-bg-brown { background-color: #964B00; }

	/* Cum to Sleep */
	.cts-black { color: #111010; }
	.bg-cts-black { background-color: #111010; }
	.hover-cts-black:hover { color: #111010; }
	.hover-cts-black:focus { color: #111010; }
	.hover-bg-cts-black:hover { background-color: #111010; }
	.hover-bg-cts-black:focus { background-color: #111010; }

	/* Cum to Sleep */
	.cts-orange { color: #E85033; }
	.bg-cts-orange { background-color: #E85033; }
	.hover-cts-orangee:hover { color: #E85033; }
	.hover-cts-orange:focus { color: #E85033; }
	.hover-bg-cts-orange:hover { background-color: #E85033; }
	.hover-bg-cts-orange:focus { background-color: #E85033; }

	/* toshi */
	.toshi-purple { color: #6734BA; }
	.bg-toshi-purple { background-color: #6734BA; }
	.hover-toshi-purple:hover { color: #6734BA; }
	.hover-toshi-purple:focus { color: #6734BA; }
	.hover-bg-toshi-purple:hover { background-color: #6734BA; }
	.hover-bg-toshi-purple:focus { background-color: #6734BA; }

	/* spotify */
	.spotify-purple { color: #b49bc8; }
	.bg-spotify-purple { background-color: #b49bc8; }
	.hover-spotify-purple:hover { color: #b49bc8; }
	.hover-spotify-purple:focus { color: #b49bc8; }
	.hover-bg-spotify-purple:hover { background-color: #b49bc8; }
	.hover-bg-spotify-purple:focus { background-color: #b49bc8; }

	/* oww */
	.oww-blue { color: #01b0ff; }
	.bg-oww-blue { background-color: #01b0ff; }
	.hover-oww-blue:hover { color: #01b0ff; }
	.hover-oww-blue:focus { color: #01b0ff; }
	.hover-bg-oww-blue:hover { background-color: #01b0ff; }
	.hover-bg-oww-blue:focus { background-color: #01b0ff; }

	/* xyz */
	.xyz-pink { color: #FF00FF; }
	.bg-xyz-pink { background-color: #FF00FF; }
	.hover-xyz-pink:hover { color: #FF00FF; }
	.hover-xyz-pink:focus { color: #FF00FF; }
	.hover-bg-xyz-pink:hover { background-color: #FF00FF; }
	.hover-bg-xyz-pink:focus { background-color: #FF00FF; }

	/* Stephen black-20 */

	/* Judaikit */
	.green-judaikit { color: #1e3829; }
	.bg-green-judaikit { background-color: #1e3829; }
	.hover-green-judaikit:hover { color: #1e3829; }
	.hover-green-judaikit:focus { color: #1e3829; }
	.hover-bg-green-judaikit:hover { background-color: #1e3829; }
	.hover-bg-green-judaikit:focus { background-color: #1e3829; }

	/* BRLO */
	.brlo-green { color: #009b77; }
	.bg-brlo-green { background-color: #009b77; }
	.hover-brlo-green:hover { color: #009b77; }
	.hover-brlo-green:focus { color: #009b77; }
	.hover-bg-brlo-green:hover { background-color: #009b77; }
	.hover-bg-brlo-green:focus { background-color: #009b77; }

	/* Susanne Jung */
	.jung-yellow { color: #eadea5; }
	.bg-jung-yellow { background-color: #eadea5; }
	.hover-jung-yellow:hover { color: #eadea5; }
	.hover-jung-yellow:focus { color: #eadea5; }
	.hover-bg-jung-yellow:hover { background-color: #eadea5; }
	.hover-bg-jung-yellow:focus { background-color: #eadea5; }

	/* Susanne Jung */
	.jung-gray { color: #313c52; }
	.bg-jung-gray { background-color: #313c52; }
	.hover-jung-gray:hover { color: #313c52; }
	.hover-jung-gray:focus { color: #313c52; }
	.hover-bg-jung-gray:hover { background-color: #313c52; }
	.hover-bg-jung-gray:focus { background-color: #313c52; }

	/* Filmgalerie Berlin*/
	.filmgalerie-red { color: #DE2A21; }
	.bg-filmgalerie-red { background-color: #DE2A21; }
	.hover-filmgalerie-red:hover { color: #DE2A21; }
	.hover-filmgalerie-red:focus { color: #DE2A21; }
	.hover-bg-filmgalerie-red:hover { background-color: #DE2A21; }
	.hover-bg-filmgalerie-red:focus { background-color: #DE2A21; }
	

	/* Paper 1 */
	.txt-a { color: #dbd4cc; }
	.bg-txt-a { background-color: #dbd4cc; }
	.hover-txt-a:hover { color: #dbd4cc; }
	.hover-txt-a:focus { color: #dbd4cc; }
	.hover-bg-txt-a:hover { background-color: #dbd4cc; }
	.hover-bg-txt-a:focus { background-color: #dbd4cc; }

	/* Paper 2 */
	.txt-b { color: #f1efec; }
	.bg-txt-b { background-color: #f1efec; }
	.hover-txt-b:hover { color: #f1efec; }
	.hover-txt-b:focus { color: #f1efec; }
	.hover-bg-txt-b:hover { background-color: #f1efec; }
	.hover-bg-txt-b:focus { background-color: #f1efec; }



	


		.dim-a { 
			opacity: 1; transition: opacity .15s ease-in; }
		.dim-a:hover, .dim-a:focus { 
			opacity: .8; transition: opacity .15s ease-in; }
		.dim-a:active { 
			opacity: .9; transition: opacity .15s ease-out; }


		/* Style filter */
		
		/* Create three equal columns that floats next to each other */
		.columnf {
			display: none; /* Hide all elements by default */
  		}
  
  		/* The "show" class is added to the filtered elements */
  		.show {
			display: block;
  		}
  
  		/* Style the buttons */
  		.btn {
			border: none;
			cursor: pointer;
			background-color: transparent;
  		}
  
  		.btn:hover {
			background-color: #ddd;
  		}
  
  		.btn.active {
			background-color: black;
			color: white
  		}


		/* HL Animation */

		  .cssanimation, .cssanimation span {
			animation-duration: 1s;
			animation-fill-mode: both;
		}
		
		.cssanimation span { display: inline-block }
		
		.fadeInBottom { animation-name: fadeInBottom }
		@keyframes fadeInBottom {
			from {
				opacity: 0;
				transform: translateY(100%);
			}
			to { opacity: 1 }
		}


		/* tabs */

		 /* Style the tab */
		 .tab {
			overflow: hidden;
		  }
		  
		  /* Style the buttons inside the tab */
		  .tab button {
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		  }
		  
		  /* Change background color of buttons on hover */
		  .tab button:hover {
			background-color: rgba( 0, 0, 0, .3 );;
		  }
		  
		  /* Create an active/current tablink class */
		  .tab button.active {
			background-color: black;
			color: white
		  }
		  
		  /* Style the tab content */
		  .tabcontent {
			display: none;
			border: none;
		  }
		
		.display {
			display: block;
		}


		/* back to top floating button  */
		.top {
			place-self: end;
			position: sticky;
			position: fixed;
			bottom:40px;
			left:30px;
			text-align: right;
			margin-top:100vh;
			

			text-decoration: none;
			white-space:nowrap;
			vertical-align: baseline;

		  }

		.top:hover {
			background-color:rgba( 0, 0, 0, .3 );
		}
		
		

		/* back to top floating button 

		.top {
			place-self: end;
			position: sticky;
			position: fixed;
			bottom:50px;
			right:20px;
			text-align: right;
			margin-top:100vh;
			
			
			text-decoration: none;
			white-space:nowrap;
			vertical-align: baseline;

		  }

		.top:hover {
			background-color:rgba( 0, 0, 0, .3 );
		} */

		  /* sticky menu */
		
		  #main-nav {
			top: 1rem;
			text-align: center;
			align-items: center;
			display: flex !important;
			position: sticky;
			align-self: flex-end;
		  }
		  
		  nav a {
			color: white;
			text-decoration: none;
			margin: 0px 10px;
		  }
		  
		  nav a:hover {
			text-decoration: underline;
		  }
		  
		  #main-nav.sticky {
			position: fixed;
			top: 4rem;
			float: center !important;
			
		  }
		  
		  .navbarOffsetMargin {
			padding-top: 45px;
		  }
		  
		  