

@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Questrial:400);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.cdnfonts.com/css/dm-sans);
@import url(https://fonts.cdnfonts.com/css/dm-sans:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Hebrew:100,200,300,400,500,600,700,800,900);
@import url(https://fonts.cdnfonts.com/css/noto-sans-hebrew);
                




	body{
		font-family:'DM Sans', Arial, sans-serif !important;
	}

	h1, h2, h3, h4, h5, h6{
		font-family:'DM Sans', Arial, sans-serif !important;
	}

	/* 
	.h1{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}

	.h2{
		font-family: 'DM Sans', Arial, sans-serif !important;
	}Headlines */


	.garamond { font-family: garamond, serif; }
	.noto-sans-hebrew { font-family: 'Noto Sans Hebrew', 'Arial', serif; }
	.avenir { font-family: 'avenir next', avenir, sans-serif; }
	.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
	.bodoni { font-family: "Bodoni MT", serif; }
	.pb8 { padding-bottom: 24rem; }
	.pb8-l { padding-bottom: 24rem; }
	.pb8-m { padding-bottom: 24rem; }
	.pb8-ns { padding-bottom: 24rem; }
	.pl9 { padding-left: 6rem; }
	.pl9-l { padding-left: 6rem; }
	.pl9-m { padding-left: 6rem; }
	.pl9-ns { padding-left: 6rem; }

	/* font size */
	.f25 { font-size: 2rem; }

	/* index nax area */
	div.b { height: 200px;}
	div.b2 { height: 100px;}
	div.b3 { height: 80px;}

	/* italic/different font upon hover */
	a.ex4:hover, a.ex4:active {font-family: monospace;}
	a.ex5:hover, a.ex5:active {text-decoration: underline;}
	a.ex6:hover, a.ex6:active {font-style: italic;}

	/* different text upon hover */
	.label:after{
    content:'Hadass Sternberg';
	}
	.label:hover:after{
    content:'  <sup>Communication designer</sup>';
	}

	a {
		outline: 0;
		outline: none;
	}

	.navbar {
	  overflow: hidden;
	  position: fixed;
	  top: 0;
	  max-width: 100%
	}

	.nav-main {
	  padding-top: 4rem;
	  margin-top: 4rem;
	}

	.icon {
		width: 20px;
		  padding-bottom: 3px;
	  }

	.iconA {
	  width: 20px;
		padding-bottom: 3px;
	}

	.iconB {
		width: 18px;
		  padding-bottom: 3px;
	  }

	.iconC {
		width: 16px;
		  padding-bottom: 3px;
	  }

	.§iconD {
	width: 48px;
		padding-bottom: 3px;
	}

	.emoji {
		width: 34px;
		  padding-bottom: 8px;
	  }

	.tracked-tighter {
		letter-spacing: -.03em;
	}

	.tracked-tightern {
		letter-spacing: -.01em;
	}

	.lh-text { line-height: 1.35; }
	.lh-text-l { line-height: 1.35; }
	.lh-text-m { line-height: 1.35; }
	.lh-text-ns { line-height: 1.35; }

	.lh-material { line-height: 1.4; }
	.lh-material-l { line-height: 1.4; }
	.lh-material-m { line-height: 1.4; }
	.lh-material-ns { line-height: 1.4; }

	/* enlarge font upon hover */
	@keyframes ldio-lt6rgcsawgm {
		0% { transform: translate(-50%,-50%) rotate(0deg); }
		100% { transform: translate(-50%,-50%) rotate(360deg); }
			}

	.spinner {
		width: 40px;
		height: 40px;
		background-color: #333;

		position: absolute;
		top: 48%;
		left: 48%;
		-webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		animation: sk-rotateplane 1.2s infinite ease-in-out;
	}

	@-webkit-keyframes sk-rotateplane {
		0% { -webkit-transform: perspective(120px) }
		50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
	}

	@keyframes sk-rotateplane {
		0% {
			 transform: perspective(120px) rotateX(0deg) rotateY(0deg);
			 -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
	} 50% {
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
			  } 100% {
			    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
			  }
			}
	
	.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000;
	z-index: 999999;
	}




	.blur { 
	backdrop-filter: blur(5px);
	}


	/* colors */


	.brown { color: #964B00; }
	.bg-brown { background-color: #964B00; }
	.hover-bg-brown:hover { background-color: #964B00; }
	.hover-bg-brown { background-color: #964B00; }


	/* Cum to Sleep */
	.cts-black { color: #111010; }
	.bg-cts-black { background-color: #111010; }
	.hover-cts-black:hover { color: #111010; }
	.hover-cts-black:focus { color: #111010; }
	.hover-bg-cts-black:hover { background-color: #111010; }
	.hover-bg-cts-black:focus { background-color: #111010; }

	/* Cum to Sleep */
	.cts-orange { color: #E85033; }
	.bg-cts-orange { background-color: #E85033; }
	.hover-cts-orangee:hover { color: #E85033; }
	.hover-cts-orange:focus { color: #E85033; }
	.hover-bg-cts-orange:hover { background-color: #E85033; }
	.hover-bg-cts-orange:focus { background-color: #E85033; }

	/* toshi */
	.toshi-purple { color: #6734BA; }
	.bg-toshi-purple { background-color: #6734BA; }
	.hover-toshi-purple:hover { color: #6734BA; }
	.hover-toshi-purple:focus { color: #6734BA; }
	.hover-bg-toshi-purple:hover { background-color: #6734BA; }
	.hover-bg-toshi-purple:focus { background-color: #6734BA; }

	/* spotify */
	.spotify-purple { color: #b49bc8; }
	.bg-spotify-purple { background-color: #b49bc8; }
	.hover-spotify-purple:hover { color: #b49bc8; }
	.hover-spotify-purple:focus { color: #b49bc8; }
	.hover-bg-spotify-purple:hover { background-color: #b49bc8; }
	.hover-bg-spotify-purple:focus { background-color: #b49bc8; }

	/* spotify */
	.spotify-green { color: #1ED760; }
	.bg-spotify-green { background-color: #1ED760; }
	.hover-spotify-green:hover { color: #1ED760; }
	.hover-spotify-green:focus { color: #1ED760; }
	.hover-bg-spotify-green:hover { background-color: #1ED760; }
	.hover-bg-spotify-green:focus { background-color: #1ED760; }

	/* oww */
	.oww-blue { color: #01b0ff; }
	.bg-oww-blue { background-color: #01b0ff; }
	.hover-oww-blue:hover { color: #01b0ff; }
	.hover-oww-blue:focus { color: #01b0ff; }
	.hover-bg-oww-blue:hover { background-color: #01b0ff; }
	.hover-bg-oww-blue:focus { background-color: #01b0ff; }

	/* xyz */
	.xyz-pink { color: #FF00FF; }
	.bg-xyz-pink { background-color: #FF00FF; }
	.hover-xyz-pink:hover { color: #FF00FF; }
	.hover-xyz-pink:focus { color: #FF00FF; }
	.hover-bg-xyz-pink:hover { background-color: #FF00FF; }
	.hover-bg-xyz-pink:focus { background-color: #FF00FF; }

	/* Stephen black-20 */

	/* Judaikit */
	.green-judaikit { color: #1e3829; }
	.bg-green-judaikit { background-color: #1e3829; }
	.hover-green-judaikit:hover { color: #1e3829; }
	.hover-green-judaikit:focus { color: #1e3829; }
	.hover-bg-green-judaikit:hover { background-color: #1e3829; }
	.hover-bg-green-judaikit:focus { background-color: #1e3829; }

	/* BRLO */
	.brlo-green { color: #009b77; }
	.bg-brlo-green { background-color: #009b77; }
	.hover-brlo-green:hover { color: #009b77; }
	.hover-brlo-green:focus { color: #009b77; }
	.hover-bg-brlo-green:hover { background-color: #009b77; }
	.hover-bg-brlo-green:focus { background-color: #009b77; }

	/* Susanne Jung */
	.jung-yellow { color: #eadea5; }
	.bg-jung-yellow { background-color: #eadea5; }
	.hover-jung-yellow:hover { color: #eadea5; }
	.hover-jung-yellow:focus { color: #eadea5; }
	.hover-bg-jung-yellow:hover { background-color: #eadea5; }
	.hover-bg-jung-yellow:focus { background-color: #eadea5; }

	/* Susanne Jung */
	.jung-gray { color: #445370; }
	.bg-jung-gray { background-color: #445370; }
	.hover-jung-gray:hover { color: #445370; }
	.hover-jung-gray:focus { color: #445370; }
	.hover-bg-jung-gray:hover { background-color: #445370; }
	.hover-bg-jung-gray:focus { background-color: #445370; }

	/* Filmgalerie Berlin*/
	.filmgalerie-red { color: #DE2A21; }
	.bg-filmgalerie-red { background-color: #DE2A21; }
	.hover-filmgalerie-red:hover { color: #DE2A21; }
	.hover-filmgalerie-red:focus { color: #DE2A21; }
	.hover-bg-filmgalerie-red:hover { background-color: #DE2A21; }
	.hover-bg-filmgalerie-red:focus { background-color: #DE2A21; }

	/* Klarna x Mymuesli */
	.pink-klarna { color: #ffc0cb; }
	.bg-pink-klarna { background-color: #ffc0cb; }
	.hover-pink-klarna:hover { color: #ffc0cb; }
	.hover-pink-klarna:focus { color: #ffc0cb; }
	.hover-bg-pink-klarna:hover { background-color: #ffc0cb; }
	.hover-bg-pink-klarna:focus { background-color: #ffc0cb; }

	/* Hubect */
	.green-hubject { color: #1d91a2; }
	.bg-green-hubject { background-color: #1d91a2; }
	.hover-green-hubject:hover { color: #1d91a2; }
	.hover-green-hubject:focus { color: #1d91a2; }
	.hover-bg-green-hubject:hover { background-color: #1d91a2; }
	.hover-bg-green-hubject:focus { background-color: #1d91a2; }
	

	/* Paper 1 */
	.txt-a { color: #dbd4cc; }
	.bg-txt-a { background-color: #dbd4cc; }
	.hover-txt-a:hover { color: #dbd4cc; }
	.hover-txt-a:focus { color: #dbd4cc; }
	.hover-bg-txt-a:hover { background-color: #dbd4cc; }
	.hover-bg-txt-a:focus { background-color: #dbd4cc; }

	/* Paper 2 */
	.txt-b { color: #f1efec; }
	.bg-txt-b { background-color: #f1efec; }
	.hover-txt-b:hover { color: #f1efec; }
	.hover-txt-b:focus { color: #f1efec; }
	.hover-bg-txt-b:hover { background-color: #f1efec; }
	.hover-bg-txt-b:focus { background-color: #f1efec; }


	/* colors */
	.braun-yellow { color: #ed8008; }
	.braun-orange { color: #ed3f1c; }
	.braun-red { color: #bf1b1b; }
	.braun-green { color: #736b1e; }
	.braun-light { color: #d9d2c6; }

	/* Braun-orange */
	.braun-orange { color: #ed3f1c; }
	.bg-braun-orange { background-color: #ed3f1c; }
	.hover-braun-orange:hover { color: #ed3f1c; }
	.hover-braun-orange:focus { color: #ed3f1c; }
	.hover-bg-braun-orange:hover { background-color: #ed3f1c; }
	.hover-bg-braun-orange:focus { background-color: #ed3f1c; }

	/* Braun-light-orange */
	.braun-light-orange { color: #FBE6CE; }
	.bg-braun-light-orange { background-color: #FBE6CE; }
	.hover-braun-light-orange:hover { color: #FBE6CE; }
	.hover-braun-light-orange:focus { color: #FBE6CE; }
	.hover-bg-braun-light-orange:hover { background-color: #FBE6CE; }
	.hover-bg-braun-light-orange:focus { background-color: #FBE6CE; }

	/* Braun-light-green */
	.braun-light-green { color: #E2E1D0; }
	.bg-braun-light-green { background-color: #E2E1D0; }
	.hover-braun-light-green:hover { color: #E2E1D0; }
	.hover-braun-light-green:focus { color: #E2E1D0; }
	.hover-bg-braun-light-green:hover { background-color: #E2E1D0; }
	.hover-bg-braun-light-green:focus { background-color: #E2E1D0; }
	

	/* Show more or less */
	/* Initially show only the first content div */
	.toggle-content {
	max-height: 5rem; /* Limit visible height to the first div */
	overflow: hidden;
	transition: max-height 0.3s ease;
	}

	/* Expand content when checkbox is checked */
	input[type="checkbox"]:checked ~ .toggle-content {
	max-height: 1000px; /* Allow all content to show */
	}

	/* Show/hide "Show more" and "Show less" text */
	input[type="checkbox"]:checked ~ label .show-more {
	display: none;
	}

	input[type="checkbox"]:checked ~ label .show-less {
	display: inline;
	}

	/* Initially hide "Show less" */
	.show-less {
	display: none;
	}


	
	/* Maximum width mw10 */
	.mw10 {
		max-width: 112rem !important;
	}
	.mw10-s {
		max-width: 112rem !important;
	}
	.mw10-ns {
		max-width: 112rem !important;
	}
	.mw10-m {
		max-width: 112rem !important;
	}
	.mw10-l {
		max-width: 112rem !important;
	}

	.mw80 {
		max-width: 80rem !important;
	}
	


		.dim-a { 
			opacity: 1; transition: opacity .15s ease-in; }
		.dim-a:hover, .dim-a:focus { 
			opacity: .8; transition: opacity .15s ease-in; }
		.dim-a:active { 
			opacity: .9; transition: opacity .15s ease-out; }


		/* Style filter */
		
		/* Create three equal columns that floats next to each other */
		.columnf {
			display: none; /* Hide all elements by default */
  		}
  
  		/* The "show" class is added to the filtered elements */
  		.show {
			display: block;
  		}
  
  		/* Style the buttons */
  		.btn {
			border: none;
			cursor: pointer;
			background-color: transparent;
  		}
  
  		.btn:hover {
			background-color: #ddd;
  		}
  
  		.btn.active {
			background-color: black;
			color: white
  		}


		/* HL Animation */

		  .cssanimation, .cssanimation span {
			animation-duration: 1s;
			animation-fill-mode: both;
		}
		
		.cssanimation span { display: inline-block }
		
		.fadeInBottom { animation-name: fadeInBottom }
		@keyframes fadeInBottom {
			from {
				opacity: 0;
				transform: translateY(100%);
			}
			to { opacity: 1 }
		}


		/* tabs */

		 /* Style the tab */
		 .tab {
			overflow: hidden;
		  }
		  
		  /* Style the buttons inside the tab */
		  .tab button {
			background-color: transparent;
			border: none;
			outline: none;
			cursor: pointer;
		  }
		  
		  /* Change background color of buttons on hover */
		  .tab button:hover {
			background-color: rgba( 0, 0, 0, .3 );;
		  }
		  
		  /* Create an active/current tablink class */
		  .tab button.active {
			background-color: black;
			color: white
		  }
		  
		  /* Style the tab content */
		  .tabcontent {
			display: none;
			border: none;
		  }
		
		.display {
			display: block;
		}


		/* back to top floating button  */
		.top {
			place-self: end;
			position: sticky;
			position: fixed;
			bottom:40px;
			left:30px;
			text-align: right;
			margin-top:100vh;
			

			text-decoration: none;
			white-space:nowrap;
			vertical-align: baseline;

		  }

		.top:hover {
			background-color:rgba( 0, 0, 0, .3 );
		}
		
		

		/* back to top floating button 

		.top {
			place-self: end;
			position: sticky;
			position: fixed;
			bottom:50px;
			right:20px;
			text-align: right;
			margin-top:100vh;
			
			
			text-decoration: none;
			white-space:nowrap;
			vertical-align: baseline;

		  }

		.top:hover {
			background-color:rgba( 0, 0, 0, .3 );
		} */

		  /* sticky menu */
		
		  #main-nav {
			top: 1rem;
			text-align: center;
			align-items: center;
			display: flex !important;
			position: sticky;
			align-self: flex-end;
		  }
		  
		  nav a {
			color: white;
			text-decoration: none;
			margin: 0px 10px;
		  }
		  
		  nav a:hover {
			text-decoration: underline;
		  }
		  
		  #main-nav.sticky {
			position: fixed;
			top: 4rem;
			float: center !important;
			
		  }
		  
		  .navbarOffsetMargin {
			padding-top: 45px;
		  }
		  
		/* dot */
		  .dot {
			height: 8px;
			width: 8px;
			background-color: #ed3f1c;
			border-radius: 50%;
			display: inline-block;
		  }
	

		  /* XL breakpount - 1280px and up */
		  @media screen and (min-width:80em) {
			.aspect-ratio-xl {
				height: 0;
				position: relative;
			}
		
			.aspect-ratio--16x9-xl {
				padding-bottom: 56.25%;
			}
		
			.aspect-ratio--9x16-xl {
				padding-bottom: 177.77%;
			}
		
			.aspect-ratio--4x3-xl {
				padding-bottom: 75%;
			}
		
			.aspect-ratio--3x4-xl {
				padding-bottom: 133.33%;
			}
		
			.aspect-ratio--6x4-xl {
				padding-bottom: 66.6%;
			}
		
			.aspect-ratio--4x6-xl {
				padding-bottom: 150%;
			}
		
			.aspect-ratio--8x5-xl {
				padding-bottom: 62.5%;
			}
		
			.aspect-ratio--5x8-xl {
				padding-bottom: 160%;
			}
		
			.aspect-ratio--7x5-xl {
				padding-bottom: 71.42%;
			}
		
			.aspect-ratio--5x7-xl {
				padding-bottom: 140%;
			}
		
			.aspect-ratio--1x1-xl {
				padding-bottom: 100%;
			}
		
			.aspect-ratio--object-xl {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 100;
			}
		
			.cover-xl {
				background-size: cover !important;
			}
		
			.contain-xl {
				background-size: contain !important;
			}
		
			.bg-center-xl {
				background-position: 50%;
			}
		
			.bg-center-xl,
			.bg-top-xl {
				background-repeat: no-repeat;
			}
		
			.bg-top-xl {
				background-position: top;
			}
		
			.bg-right-xl {
				background-position: 100%;
			}
		
			.bg-bottom-xl,
			.bg-right-xl {
				background-repeat: no-repeat;
			}
		
			.bg-bottom-xl {
				background-position: bottom;
			}
		
			.bg-left-xl {
				background-repeat: no-repeat;
				background-position: 0;
			}
		
			.outline-xl {
				outline: 1px solid;
			}
		
			.outline-transparent-xl {
				outline: 1px solid transparent;
			}
		
			.outline-0-xl {
				outline: 0;
			}
		
			.ba-xl {
				border-style: solid;
				border-width: 1px;
			}
		
			.bt-xl {
				border-top-style: solid;
				border-top-width: 1px;
			}
		
			.br-xl {
				border-right-style: solid;
				border-right-width: 1px;
			}
		
			.bb-xl {
				border-bottom-style: solid;
				border-bottom-width: 1px;
			}
		
			.bl-xl {
				border-left-style: solid;
				border-left-width: 1px;
			}
		
			.bn-xl {
				border-style: none;
				border-width: 0;
			}
		
			.br0-xl {
				border-radius: 0;
			}
		
			.br1-xl {
				border-radius: .125rem;
			}
		
			.br2-xl {
				border-radius: .25rem;
			}
		
			.br3-xl {
				border-radius: .5rem;
			}
		
			.br4-xl {
				border-radius: 1rem;
			}
		
			.br-100-xl {
				border-radius: 100%;
			}
		
			.br-pill-xl {
				border-radius: 9999px;
			}
		
			.br--bottom-xl {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		
			.br--top-xl {
				border-bottom-right-radius: 0;
			}
		
			.br--right-xl,
			.br--top-xl {
				border-bottom-left-radius: 0;
			}
		
			.br--right-xl {
				border-top-left-radius: 0;
			}
		
			.br--left-xl {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		
			.br-inherit-xl {
				border-radius: inherit;
			}
		
			.br-initial-xl {
				border-radius: initial;
			}
		
			.br-unset-xl {
				border-radius: unset;
			}
		
			.b--dotted-xl {
				border-style: dotted;
			}
		
			.b--dashed-xl {
				border-style: dashed;
			}
		
			.b--solid-xl {
				border-style: solid;
			}
		
			.b--none-xl {
				border-style: none;
			}
			.b--solid-xl {
				border-style: solid;
			}
			
			.b--none-xl {
					border-style: none;
				}
			
			.bw0-xl {
					border-width: 0;
				}
			
			.bw1-xl {
					border-width: .125rem;
				}
			
			.bw2-xl {
					border-width: .25rem;
				}
			
			.bw3-xl {
					border-width: .5rem;
				}
			
			.bw4-xl {
					border-width: 1rem;
				}
			
			.bw5-xl {
					border-width: 2rem;
				}
			
			.bt-0-xl {
					border-top-width: 0;
				}
			
			.br-0-xl {
					border-right-width: 0;
				}
			
			.bb-0-xl {
					border-bottom-width: 0;
				}
			
			.bl-0-xl {
					border-left-width: 0;
				}
			
			.shadow-1-xl {
					box-shadow: 0 0 4px 2px rgba(0, 0, 0, .2);
				}
			
			.shadow-2-xl {
					box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
				}
			
			.shadow-3-xl {
					box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, .2);
				}
			
			.shadow-4-xl {
					box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
				}
			
			.shadow-5-xl {
					box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, .2);
				}
			
			.top-0-xl {
					top: 0;
				}
			
			.left-0-xl {
					left: 0;
				}
			
			.right-0-xl {
					right: 0;
				}
			
			.bottom-0-xl {
					bottom: 0;
				}
			
			.top-1-xl {
					top: 1rem;
				}
			
			.left-1-xl {
					left: 1rem;
				}
			
			.right-1-xl {
					right: 1rem;
				}
			
			.bottom-1-xl {
					bottom: 1rem;
				}
			
			.top-2-xl {
					top: 2rem;
				}
			
			.left-2-xl {
					left: 2rem;
				}
			
			.right-2-xl {
					right: 2rem;
				}
			
			.bottom-2-xl {
					bottom: 2rem;
				}
			
			.top--1-xl {
					top: -1rem;
				}
			
			.right--1-xl {
					right: -1rem;
				}
			
			.bottom--1-xl {
					bottom: -1rem;
				}
			
			.left--1-xl {
					left: -1rem;
				}
			
			.top--2-xl {
					top: -2rem;
				}
			
			.right--2-xl {
					right: -2rem;
				}
			
			.bottom--2-xl {
					bottom: -2rem;
				}
			
			.left--2-xl {
					left: -2rem;
				}
			
			.absolute--fill-xl {
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
				}
			
			.cl-xl {
					clear: left;
				}
			
			.cr-xl {
					clear: right;
				}
			
			.cb-xl {
					clear: both;
				}
			
			.cn-xl {
					clear: none;
				}

				.dn-xl {
					display: none;
				}
			
			.di-xl {
					display: inline;
				}
			
			.db-xl {
					display: block;
				}
			
			.dib-xl {
					display: inline-block;
				}
			
			.dit-xl {
					display: inline-table;
				}
			
			.dt-xl {
					display: table;
				}
			
			.dtc-xl {
					display: table-cell;
				}
			
			.dt-row-xl {
					display: table-row;
				}
			
			.dt-row-group-xl {
					display: table-row-group;
				}
			
			.dt-column-xl {
					display: table-column;
				}
			
			.dt-column-group-xl {
					display: table-column-group;
				}
			
			.dt--fixed-xl {
					table-layout: fixed;
					width: 100%;
				}
			
			.flex-xl {
					display: flex;
				}
			
			.inline-flex-xl {
					display: inline-flex;
				}
			
			.flex-auto-xl {
					flex: 1 1 auto;
					min-width: 0;
					min-height: 0;
				}
			
			.flex-none-xl {
					flex: none;
				}
			
			.flex-column-xl {
					flex-direction: column;
				}
			
			.flex-row-xl {
					flex-direction: row;
				}
			
			.flex-wrap-xl {
					flex-wrap: wrap;
				}
			
			.flex-nowrap-xl {
					flex-wrap: nowrap;
				}
			
			.flex-wrap-reverse-xl {
					flex-wrap: wrap-reverse;
				}
			
			.flex-column-reverse-xl {
					flex-direction: column-reverse;
				}
			
			.flex-row-reverse-xl {
					flex-direction: row-reverse;
				}
			
			.items-start-xl {
					align-items: flex-start;
				}
			
			.items-end-xl {
					align-items: flex-end;
				}
			
			.items-center-xl {
					align-items: center;
				}
			
			.items-baseline-xl {
					align-items: baseline;
				}
			
			.items-stretch-xl {
					align-items: stretch;
				}
			
			.self-start-xl {
					align-self: flex-start;
				}
			
			.self-end-xl {
					align-self: flex-end;
				}
			
			.self-center-xl {
					align-self: center;
				}
			
			.self-baseline-xl {
					align-self: baseline;
				}
			
			.self-stretch-xl {
					align-self: stretch;
				}
			
			.justify-start-xl {
					justify-content: flex-start;
				}
			
			.justify-end-xl {
					justify-content: flex-end;
				}
			
			.justify-center-xl {
					justify-content: center;
				}
			
			.justify-between-xl {
					justify-content: space-between;
				}
			
			.justify-around-xl {
					justify-content: space-around;
				}
			
			.content-start-xl {
					align-content: flex-start;
				}
			
			.content-end-xl {
					align-content: flex-end;
				}
			
			.content-center-xl {
					align-content: center;
				}
			
			.content-between-xl {
					align-content: space-between;
				}
			
			.content-around-xl {
					align-content: space-around;
				}
			
			.content-stretch-xl {
					align-content: stretch;
				}
			
			.order-0-xl {
					order: 0;
				}
			
			.order-1-xl {
					order: 1;
				}
			
			.order-2-xl {
					order: 2;
				}
			
			.order-3-xl {
					order: 3;
				}
			
			.order-4-xl {
					order: 4;
				}
			
			.order-5-xl {
					order: 5;
				}
			
			.order-6-xl {
					order: 6;
				}
			
			.order-7-xl {
					order: 7;
				}
			
			.order-8-xl {
					order: 8;
				}
			
			.order-last-xl {
					order: 99999;
				}

				.flex-grow-0-xl {
					flex-grow: 0;
				}
			
			.flex-grow-1-xl {
					flex-grow: 1;
				}
			
			.flex-shrink-0-xl {
					flex-shrink: 0;
				}
			
			.flex-shrink-1-xl {
					flex-shrink: 1;
				}
			
			.fl-xl {
					float: left;
				}
			
			.fl-xl,
			.fr-xl {
					_display: inline !important;
				}
			
			.fr-xl {
					float: right !important;
				}
			
			.fn-xl {
					float: none !important;
				}
			
			.i-xl {
					font-style: italic !important;
				}
			
			.fs-normal-xl {
					font-style: normal !important;
				}
			
			.normal-xl {
					font-weight: 400 !important;
				}
			
			.b-xl { 
					font-weight: 700 !important;
				}
			
			.fw1-xl {
					font-weight: 100 !important;
				}
			
			.fw2-xl {
					font-weight: 200 !important;
				}
			
			.fw3-xl {
					font-weight: 300 !important;
				}
			
			.fw4-xl {
					font-weight: 400 !important;
				}
			
			.fw5-xl {
					font-weight: 500 !important;
				}
			
			.fw6-xl {
					font-weight: 600 !important;
				}
			
			.fw7-xl {
					font-weight: 700 !important;
				}
			
			.fw8-xl {
					font-weight: 800 !important;
				}
			
			.fw9-xl {
					font-weight: 900 !important;
				}
			
			.h1-xl {
					height: 1rem !important;
				}
			
			.h2-xl {
					height: 2rem !important;
				}
			
			.h3-xl {
					height: 4rem !important;
				}
			
			.h4-xl {
					height: 8rem !important;
				}
			
			.h5-xl {
					height: 16rem !important;
				}
			
			.h-25-xl {
					height: 25% !important;
				}
			
			.h-50-xl {
					height: 50% !important;
				}
			
			.h-75-xl {
					height: 75% !important;
				}
			
			.h-100-xl {
					height: 100% !important;
				}
			
			.min-h-100-xl {
					min-height: 100% !important;
				}
			
			.vh-25-xl {
					height: 25vh !important;
				}
			
			.vh-50-xl {
					height: 50vh !important;
				}
			
			.vh-75-xl {
					height: 75vh !important;
				}
			
			.vh-100-xl {
					height: 100vh !important;
				}
			
			.min-vh-100-xl {
					min-height: 100vh !important;
				}
			
			.h-auto-xl {
					height: auto !important;
				}
			
			.h-inherit-xl {
					height: inherit !important;
				}
			
			.tracked-xl {
					letter-spacing: .1em !important;
				}
			
			.tracked-tight-xl {
					letter-spacing: -.05em !important;
				}
			
			.tracked-mega-xl {
					letter-spacing: .25em !important;
				}
			
			.lh-solid-xl {
					line-height: 1 !important;
				}
			
			.lh-title-xl {
					line-height: 1.25 !important;
				}
			
			.lh-copy-xl {
					line-height: 1.5 !important;
				}

			.mw-100-xl {
				max-width: 100% !important;
			}
		
			.mw1-xl {
				max-width: 1rem !important;
			}
		
			.mw2-xl {
				max-width: 2rem !important;
			}
		
			.mw3-xl {
				max-width: 4rem !important;
			}
		
			.mw4-xl {
				max-width: 8rem !important;
			}
		
			.mw5-xl {
				max-width: 16rem !important;
			}
		
			.mw6-xl {
				max-width: 32rem !important;
			}
		
			.mw7-xl {
				max-width: 48rem !important;
			}
		
			.mw8-xl {
				max-width: 64rem !important;
			}
		
			.mw9-xl {
				max-width: 96rem !important;
			}

			.mw10-xl {
				max-width: 112rem !important;
			}
		
			.mw-none-xl {
				max-width: none !important;
			} 
		
			.w1-xl {
				width: 1rem !important;
			}
		
			.w2-xl {
				width: 2rem !important;
			}
		
			.w3-xl {
				width: 4rem !important;
			}
		
			.w4-xl {
				width: 8rem !important;
			}
		
			.w5-xl {
				width: 16rem !important;
			}
		
			.w-10-xl {
				width: 10% !important;
			}
		
			.w-20-xl {
				width: 20% !important;
			}
		
			.w-25-xl {
				width: 25% !important;
			}
		
			.w-30-xl {
				width: 30% !important;
			}
		
			.w-33-xl {
				width: 33% !important;
			}
		
			.w-34-xl {
				width: 34% !important;
			}
		
			.w-40-xl {
				width: 40% !important;
			}
		
			.w-50-xl {
				width: 50% !important;
			}
		
			.w-60-xl {
				width: 60% !important;
			}
		
			.w-70-xl {
				width: 70% !important;
			}
		
			.w-75-xl {
				width: 75% !important;
			}
		
			.w-80-xl {
				width: 80% !important;
			}
		
			.w-90-xl {
				width: 90% !important;
			}
		
			.w-100-xl {
				width: 100% !important;
			}
		
			.w-third-xl {
				width: 33.33333% !important;
			}
		
			.w-two-thirds-xl {
				width: 66.66667% !important;
			}
		
			.w-auto-xl {
				width: auto !important;
			}
		
			.overflow-visible-xl {
				overflow: visible !important;
			}
		
			.overflow-hidden-xl {
				overflow: hidden !important;
			}
		
			.overflow-scroll-xl {
				overflow: scroll !important;
			}
		
			.overflow-auto-xl {
				overflow: auto !important;
			}
		
			.overflow-x-visible-xl {
				overflow-x: visible !important;
			}
		
			.overflow-x-hidden-xl {
				overflow-x: hidden !important;
			}
		
			.overflow-x-scroll-xl {
				overflow-x: scroll !important;
			}
		
			.overflow-x-auto-xl {
				overflow-x: auto !important;
			}
		
			.overflow-y-visible-xl {
				overflow-y: visible !important;
			}
		
			.overflow-y-hidden-xl {
				overflow-y: hidden !important;
			}
		
			.overflow-y-scroll-xl {
				overflow-y: scroll !important;
			}
		
			.overflow-y-auto-xl {
				overflow-y: auto !important;
			}
		
			.static-xl {
				position: static !important;
			}
		
			.relative-xl {
				position: relative !important;
			}
		
			.absolute-xl {
				position: absolute !important;
			}
		
			.fixed-xl {
				position: fixed !important;
			}
		
			.rotate-45-xl {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg)
			}
		
			.rotate-90-xl {
				-webkit-transform: rotate(90deg);
				transform: rotate(90deg)
			}
		
			.rotate-135-xl {
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg)
			}
		
			.rotate-180-xl {
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg)
			}
		
			.rotate-225-xl {
				-webkit-transform: rotate(225deg);
				transform: rotate(225deg)
			}
		
			.rotate-270-xl {
				-webkit-transform: rotate(270deg);
				transform: rotate(270deg)
			}
		
			.rotate-315-xl {
				-webkit-transform: rotate(315deg);
				transform: rotate(315deg)
			}

			.pa0-xl {
				padding: 0 !important;
			} 
		
			.pa1-xl {
				padding: .25rem !important;
			}
		
			.pa2-xl {
				padding: .5rem !important;
			}
		
			.pa3-xl {
				padding: 1rem !important;
			}
		
			.pa4-xl {
				padding: 2rem !important;
			}
		
			.pa5-xl {
				padding: 4rem !important;
			}
		
			.pa6-xl {
				padding: 8rem !important;
			}
		
			.pa7-xl {
				padding: 16rem !important;
			}
		
			.pl0-xl {
				padding-left: 0 !important;
			}
		
			.pl1-xl {
				padding-left: .25rem !important;
			}
		
			.pl2-xl {
				padding-left: .5rem !important;
			}
		
			.pl3-xl {
				padding-left: 1rem !important;
			}
		
			.pl4-xl {
				padding-left: 2rem !important;
			}
		
			.pl5-xl {
				padding-left: 4rem !important;
			}
		
			.pl6-xl {
				padding-left: 8rem !important;
			}
		
			.pl7-xl {
				padding-left: 16rem !important;
			}
		
			.pr0-xl {
				padding-right: 0 !important;
			}
		
			.pr1-xl {
				padding-right: .25rem !important;
			}
		
			.pr2-xl {
				padding-right: .5rem !important;
			}
		
			.pr3-xl {
				padding-right: 1rem !important;
			}
		
			.pr4-xl {
				padding-right: 2rem !important;
			}
		
			.pr5-xl {
				padding-right: 4rem !important;
			}
		
			.pr6-xl {
				padding-right: 8rem !important;
			}
		
			.pr7-xl {
				padding-right: 16rem !important;
			}
		
			.pb0-xl {
				padding-bottom: 0 !important;
			}
		
			.pb1-xl {
				padding-bottom: .25rem !important;
			}
		
			.pb2-xl {
				padding-bottom: .5rem !important;
			}
		
			.pb3-xl {
				padding-bottom: 1rem !important;
			}
		
			.pb4-xl {
				padding-bottom: 2rem !important;
			}
		
			.pb5-xl {
				padding-bottom: 4rem !important;
			}
		
			.pb6-xl {
				padding-bottom: 8rem !important;
			}
		
			.pb7-xl {
				padding-bottom: 16rem !important;
			}
		
			.pt0-xl {
				padding-top: 0 !important;
			}
		
			.pt1-xl {
				padding-top: .25rem !important;
			}
		
			.pt2-xl {
				padding-top: .5rem !important;
			}
		
			.pt3-xl {
				padding-top: 1rem !important;
			}
		
			.pt4-xl {
				padding-top: 2rem !important;
			}
		
			.pt5-xl {
				padding-top: 4rem !important;
			}
		
			.pt6-xl {
				padding-top: 8rem !important;
			}
		
			.pt7-xl {
				padding-top: 16rem !important;
			}
		
			.pv0-xl {
				padding-top: 0 !important;
				padding-bottom: 0 !important;
			}
		
			.pv1-xl {
				padding-top: .25rem !important;
				padding-bottom: .25rem !important;
			}
		
			.pv2-xl {
				padding-top: .5rem !important;
				padding-bottom: .5rem !important;
			}
		
			.pv3-xl {
				padding-top: 1rem !important;
				padding-bottom: 1rem !important;
			}
		
			.pv4-xl {
				padding-top: 2rem !important;
				padding-bottom: 2rem !important;
			}
		
			.pv5-xl {
				padding-top: 4rem !important;
				padding-bottom: 4rem !important;
			}
		
			.pv6-xl {
				padding-top: 8rem !important;
				padding-bottom: 8rem !important;
			}
		
			.pv7-xl {
				padding-top: 16rem !important;
				padding-bottom: 16rem !important;
			}
		
			.ph0-xl {
				padding-left: 0 !important;
				padding-right: 0 !important;
			}
		
			.ph1-xl {
				padding-left: .25rem !important;
				padding-right: .25rem !important;
			}
		
			.ph2-xl {
				padding-left: .5rem !important;
				padding-right: .5rem !important;
			}
		
			.ph3-xl {
				padding-left: 1rem !important;
				padding-right: 1rem !important;
			}
		
			.ph4-xl {
				padding-left: 2rem !important;
				padding-right: 2rem !important;
			}
		
			.ph5-xl {
				padding-left: 4rem !important;
				padding-right: 4rem !important;
			}
		
			.ph6-xl {
				padding-left: 8rem !important;
				padding-right: 8rem !important;
			}
		
			.ph7-xl {
				padding-left: 16rem !important;
				padding-right: 16rem !important;
			}

			.ph8-xl {
				padding-left: 24rem !important;
				padding-right: 24rem !important;
			}

			.ph9-xl {
				padding-left: 32rem !important;
				padding-right: 32rem !important;
			}

			.ma0-xl {
				margin: 0 !important;
			}
		
			.ma1-xl {
				margin: .25rem !important;
			}
		
			.ma2-xl {
				margin: .5rem !important;
			}
		
			.ma3-xl {
				margin: 1rem !important;
			}
		
			.ma4-xl {
				margin: 2rem !important;
			}
		
			.ma5-xl {
				margin: 4rem !important;
			}
		
			.ma6-xl {
				margin: 8rem !important;
			}
		
			.ma7-xl {
				margin: 16rem !important;
			}
		
			.ml0-xl {
				margin-left: 0 !important;
			}
		
			.ml1-xl {
				margin-left: .25rem !important;
			}
		
			.ml2-xl {
				margin-left: .5rem !important;
			}
		
			.ml3-xl {
				margin-left: 1rem !important;
			}
		
			.ml4-xl {
				margin-left: 2rem !important;
			}
		
			.ml5-xl {
				margin-left: 4rem !important;
			}
		
			.ml6-xl {
				margin-left: 8rem !important;
			}
		
			.ml7-xl {
				margin-left: 16rem !important;
			}
		
			.mr0-xl {
				margin-right: 0 !important;
			}
		
			.mr1-xl {
				margin-right: .25rem !important;
			}
		
			.mr2-xl {
				margin-right: .5rem !important;
			}
		
			.mr3-xl {
				margin-right: 1rem !important;
			}
		
			.mr4-xl {
				margin-right: 2rem !important;
			}
		
			.mr5-xl {
				margin-right: 4rem !important;
			}
		
			.mr6-xl {
				margin-right: 8rem !important;
			}
		
			.mr7-xl {
				margin-right: 16rem !important;
			}
		
			.mb0-xl {
				margin-bottom: 0 !important;
			}
		
			.mb1-xl {
				margin-bottom: .25rem !important;
			}
		
			.mb2-xl {
				margin-bottom: .5rem !important;
			}
		
			.mb3-xl {
				margin-bottom: 1rem !important;
			}
		
			.mb4-xl {
				margin-bottom: 2rem !important;
			}
		
			.mb5-xl {
				margin-bottom: 4rem !important;
			}
		
			.mb6-xl {
				margin-bottom: 8rem !important;
			}
		
			.mb7-xl {
				margin-bottom: 16rem !important;
			}
		
			.mt0-xl {
				margin-top: 0 !important;
			}
		
			.mt1-xl {
				margin-top: .25rem !important;
			}
		
			.mt2-xl {
				margin-top: .5rem !important;
			}
		
			.mt3-xl {
				margin-top: 1rem !important;
			}
		
			.mt4-xl {
				margin-top: 2rem !important;
			}
		
			.mt5-xl {
				margin-top: 4rem !important;
			}
		
			.mt6-xl {
				margin-top: 8rem !important;
			}
		
			.mt7-xl {
				margin-top: 16rem !important;
			}
		
			.mv0-xl {
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		
			.mv1-xl {
				margin-top: .25rem !important;
				margin-bottom: .25rem !important;
			}
		
			.mv2-xl {
				margin-top: .5rem !important;
				margin-bottom: .5rem !important;
			}
		
			.mv3-xl {
				margin-top: 1rem !important;
				margin-bottom: 1rem !important;
			}
		
			.mv4-xl {
				margin-top: 2rem !important;
				margin-bottom: 2rem !important;
			}
		
			.mv5-xl {
				margin-top: 4rem !important;
				margin-bottom: 4rem !important;
			}
		
			.mv6-xl {
				margin-top: 8rem !important;
				margin-bottom: 8rem !important;
			}
		
			.mv7-xl {
				margin-top: 16rem !important;
				margin-bottom: 16rem !important;
			}
		
			.mh0-xl {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		
			.mh1-xl {
				margin-left: .25rem !important;
				margin-right: .25rem !important;
			}
		
			.mh2-xl {
				margin-left: .5rem !important;
				margin-right: .5rem !important;
			}
		
			.mh3-xl {
				margin-left: 1rem !important;
				margin-right: 1rem !important;
			}
		
			.mh4-xl {
				margin-left: 2rem !important;
				margin-right: 2rem !important;
			}
		
			.mh5-xl {
				margin-left: 4rem !important;
				margin-right: 4rem !important;
			}
		
			.mh6-xl {
				margin-left: 8rem !important;
				margin-right: 8rem !important;
			}
		
			.mh7-xl {
				margin-left: 16rem !important;
				margin-right: 16rem !important;
			}
		
			.na1-xl {
				margin: -.25rem !important;
			}
		
			.na2-xl {
				margin: -.5rem !important;
			}
		
			.na3-xl {
				margin: -1rem !important;
			}
		
			.na4-xl {
				margin: -2rem !important;
			}
		
			.na5-xl {
				margin: -4rem !important;
			}
		
			.na6-xl {
				margin: -8rem !important;
			}
		
			.na7-xl {
				margin: -16rem !important;
			}
		
			.nl1-xl {
				margin-left: -.25rem !important;
			}
		
			.nl2-xl {
				margin-left: -.5rem !important;
			}
		
			.nl3-xl {
				margin-left: -1rem !important;
			}
		
			.nl4-xl {
				margin-left: -2rem !important;
			}
		
			.nl5-xl {
				margin-left: -4rem !important;
			}
		
			.nl6-xl {
				margin-left: -8rem !important;
			}
		
			.nl7-xl {
				margin-left: -16rem !important;
			}
		
			.nr1-xl {
				margin-right: -.25rem !important;
			}
		
			.nr2-xl {
				margin-right: -.5rem !important;
			}
		
			.nr3-xl {
				margin-right: -1rem !important;
			}
		
			.nr4-xl {
				margin-right: -2rem !important;
			}
		
			.nr5-xl {
				margin-right: -4rem !important;
			}
		
			.nr6-xl {
				margin-right: -8rem !important;
			}
		
			.nr7-xl {
				margin-right: -16rem !important;
			}

			.nb1-xl {
				margin-bottom: -.25rem !important;
			}
		
			.nb2-xl {
				margin-bottom: -.5rem !important;
			}
		
			.nb3-xl {
				margin-bottom: -1rem !important;
			}
		
			.nb4-xl {
				margin-bottom: -2rem !important;
			}
		
			.nb5-xl {
				margin-bottom: -4rem !important;
			}
		
			.nb6-xl {
				margin-bottom: -8rem !important;
			}
		
			.nb7-xl {
				margin-bottom: -16rem !important;
			}
		
			.nt1-xl {
				margin-top: -.25rem !important;
			}
		
			.nt2-xl {
				margin-top: -.5rem !important;
			}
		
			.nt3-xl {
				margin-top: -1rem !important;
			}
		
			.nt4-xl {
				margin-top: -2rem !important;
			}
		
			.nt5-xl {
				margin-top: -4rem !important;
			}
		
			.nt6-xl {
				margin-top: -8rem !important;
			}
		
			.nt7-xl {
				margin-top: -16rem !important;
			}
		
			.strike-xl {
				text-decoration: line-through !important;
			}
		
			.underline-xl {
				text-decoration: underline !important;
			}
		
			.no-underline-xl {
				text-decoration: none !important;
			}
		
			.tl-xl {
				text-align: left !important;
			}
		
			.tr-xl {
				text-align: right !important;
			}
		
			.tc-xl {
				text-align: center !important;
			}
		
			.tj-xl {
				text-align: justify !important;
			}
		
			.ttc-xl {
				text-transform: capitalize !important;
			}
		
			.ttl-xl {
				text-transform: lowercase !important;
			}
		
			.ttu-xl {
				text-transform: uppercase !important;
			}
		
			.ttn-xl {
				text-transform: none !important;
			}
		
			.f-6-xl,
			.f-headline-xl {
				font-size: 6rem !important;
			}
		
			.f-5-xl,
			.f-subheadline-xl {
				font-size: 5rem !important;
			}
		
			.f1-xl {
				font-size: 3rem !important;
			}
		
			.f2-xl {
				font-size: 2.25rem !important;
			}
		
			.f3-xl {
				font-size: 1.5rem !important;
			}
		
			.f4-xl {
				font-size: 1.25rem !important;
			}
		
			.f5-xl {
				font-size: 1rem !important;
			}
		
			.f6-xl {
				font-size: .875rem !important;
			}
		
			.f7-xl {
				font-size: .75rem !important;
			}
		
			.measure-xl {
				max-width: 30em !important;
			}
		
			.measure-wide-xl {
				max-width: 34em !important;
			}
		
			.measure-narrow-xl {
				max-width: 20em !important;
			}
		
			.indent-xl {
				text-indent: 1em !important;
				margin-top: 0 !important;
				margin-bottom: 0 !important;
			}
		
			.small-caps-xl {
				font-variant: small-caps !important;
			}
		
			.truncate-xl {
				white-space: nowrap !important;
				overflow: hidden !important;
				text-overflow: ellipsis !important;
			}
		
			.center-xl {
				margin-left: auto !important;
			}
		
			.center-xl,
			.mr-auto-xl {
				margin-right: auto
			}
		
			.ml-auto-xl {
				margin-left: auto
			}
		
			.clip-xl {
				position: fixed !important;
				_position: absolute !important;
				clip: rect(1px 1px 1px 1px);
				clip: rect(1px, 1px, 1px, 1px)
			}
		
			.ws-normal-xl {
				white-space: normal
			}
		
			.nowrap-xl {
				white-space: nowrap
			}
		
			.pre-xl {
				white-space: pre
			}
		
			.v-base-xl {
				vertical-align: baseline
			}
		
			.v-mid-xl {
				vertical-align: middle
			}
		
			.v-top-xl {
				vertical-align: top
			}
		
			.v-btm-xl {
				vertical-align: bottom
			}
		}
