

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900);

	body{
		font-family: 'Raleway', Arial, sans-serif;
	}

		h1, h2, h3, h4, h5, h6{
		font-family: 'Raleway', Arial, sans-serif;
	}
	.garamond { font-family: garamond, serif; }
	.avenir { font-family: 'avenir next', avenir, sans-serif; }
	.helvetica { font-family: 'helvetica neue', helvetica, sans-serif; }
	.bodoni { font-family: "Bodoni MT", serif; }
	.pb8 { padding-bottom: 24rem; }
	.pb8-l { padding-bottom: 24rem; }
	.pb8-m { padding-bottom: 24rem; }
	.pb8-ns { padding-bottom: 24rem; }
	
	div.b { height: 200px;}
	
	a {
		outline: 0;
	}